@import './variables.scss';
@import './mixin.scss';
*,
 :after,
 :before {
    box-sizing: border-box;
}

ul,
li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.page-header {
    height: $header-height;
    @include red-border;
}

.page-section {
    // max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    flex: auto;
}

.page-sidebar {
    position: relative;
    @include red-border;
    width: 220px;
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollBar;
}